* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0.02rem;
   color: #ff536e;
  
}

body {
   background: #fcf7f8;
}

h1 {
   font-size: 5rem;
   font-family: 'Arapey', serif;
   line-height: 5rem;
}

h2 {
   font-size: 2.25rem;
   font-family: 'Arapey', serif;
}

h3 {
   margin-top: 0;
}

a {
   text-decoration: none;
}

.list a:hover {
   text-decoration: underline;
}

li {
   list-style: none;
   margin-bottom: 0.3rem;
}

form {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}

select, input, #btn {
   height: 2.25rem;
   border-radius: 0.3rem;
   padding: 0.5rem;
   background: #fff;
   border: 0.1px solid #c9c9c9;
   margin-left: 0.5rem;
}

select:hover, input:hover, #btn:hover {
   font-weight: 500;
   border: 1px solid #341539;
}

nav {
   background: #34153909;
}

#navbar {
   display: flex;
   justify-content: space-between;
   padding: 0.75rem 0;
}

#number {
   width: 110px;
}

#text {
   display: flex;
   justify-content: center;
   padding-top: 1rem;
   border-top: 1px solid #c9c9c9;
   text-align: center;
}

#text .purple {
   font-weight: 700;
}

.purple {
   color: #341539;
}

.container {
   width: 85%;
   margin: 0 auto;
}

.lead {
   font-weight: 500;
   display: flex;
   align-items: center;
   margin-bottom: 0.25rem;
}

.sub {
   color: #5c5c5c;
}

.header {
   margin: 5rem 0;
   text-align: center;
}

.card {
   position: relative;
   border-radius: 0.5rem;
   padding: 1rem;
   margin: 5rem 0;
   background: #ffffff;
   height: 100%;
}

.card .heading {
   margin: 1rem 0;
   padding: 1rem 0;
   border-bottom: 1px solid #c9c9c9;
}

.card .track {
   display: flex;
   align-items: center;
   margin-bottom: 1.25rem;
}

.card .track .text {
   margin-left: 1rem;
}

.card .track .text .lead i {
   margin-left: 0.5rem;
}

.alert {
   border: 1px solid #e00b2b;
   font-weight: 500;
   padding: 0.5rem;
}

.alert p {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #e00b2b;
}

.alert p i {
   color: #e00b2b; 
   margin-right: 0.75rem;
}

.error {
   border: 1.5px solid #e00b2b
}

.top {
   position: absolute;
   top: 0.25rem;
   right: 0.4rem;
   font-size: 10px;
   display: none;
}

input:focus, select:focus, #btn:focus {
   outline: none;
   border: 1px solid #341539
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   margin-top: 4rem;
   margin-bottom: 0.5rem;
}

.footer .social {
	padding-top: 15px;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}

.fa-lg {
   color: #341539;
}

.fa-lg:hover {
  color: #341539e8;
}

.button-div {
   display: none;
}

.button-div p {
   line-height: 100%;
   padding: 0.4rem 0.5rem;
   border: 1px solid #341539;
   border-radius: 0.5rem;
   font-size: 13px;
}

.button-div p:hover {
   cursor: pointer;
}

.button-div p i {
   margin-right: 0.4rem;
}

#circles{
	width:100%;
   margin: 2rem auto;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.circle{
	background-color:rgb(255,83,110);
	float:left;
	height:56px;
	margin:0 20px;
	width:56px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.7575s;
		-o-animation-duration:1.7575s;
		-ms-animation-duration:1.7575s;
		-webkit-animation-duration:1.7575s;
		-moz-animation-duration:1.7575s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:37px;
		-o-border-radius:37px;
		-ms-border-radius:37px;
		-webkit-border-radius:37px;
		-moz-border-radius:37px;
}

#circle1{
	animation-delay:0.3495s;
		-o-animation-delay:0.3495s;
		-ms-animation-delay:0.3495s;
		-webkit-animation-delay:0.3495s;
		-moz-animation-delay:0.3495s;
}

#circle2{
	animation-delay:0.8155s;
		-o-animation-delay:0.8155s;
		-ms-animation-delay:0.8155s;
		-webkit-animation-delay:0.8155s;
		-moz-animation-delay:0.8155s;
}

#circle3{
	animation-delay:1.0485s;
		-o-animation-delay:1.0485s;
		-ms-animation-delay:1.0485s;
		-webkit-animation-delay:1.0485s;
		-moz-animation-delay:1.0485s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(52,21,57);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(52,21,57);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(52,21,57);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(52,21,57);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(52,21,57);
	}

	100%{}
}

@media (min-width: 950px) {
   #btn {
      width: 100px;
   }
}


@media (max-width: 950px) {
   form {
      flex-direction: column;
   }

   input, select {
      width: 100% !important;
      margin: 0;
      margin-top: 0.25rem;
   }

   #btn {
      margin: 0 0.5rem;
      margin-top: 1.25rem;
   }

   .input-group {
      margin: 0.5rem;
   }

}


@media (max-width: 500px) {
   form {
      flex-direction: column;
   }

   #btn {
      margin: 0 0.5rem;
      margin-top: 1.25rem;
   }

   .header {
      margin: 3rem 0;
   }

   .input-group {
      margin: 0.5rem;
   }

   .card {
      margin: 2rem 0;
   }

   h1 {
      font-size: 4rem;
   }

   h2 {
      font-size: 2rem;
   }

   input, select {
      width: 100% !important;
      margin: 0;
      margin-top: 0.25rem;
   }

   .circle {
      width: 30px;
      height: 30px;
      margin:0 10px;
   }
}