* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
   letter-spacing: 0.02rem;
   color: #ff536e;
  
}

body {
   background: #fff7f8;
}

h1 {
   font-size: 5rem;
   font-family: 'Arapey', serif;
   text-emphasis-color: #ff536e;
}

h2 {
   font-size: 2.25rem;
   font-family: 'Arapey', serif;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
   margin-bottom: 0.3rem;
}

form {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}

select, input, #btn {
   height: 2.25rem;
   border-radius: 0.3rem;
   padding: 0.5rem;
   background: #fff;
   border: 0.1px solid #c9c9c9;
   margin-left: 0.5rem;
}

select:hover {
   height: 2.5rem;
   transition: height 300ms;
}

#number {
   width: 75px;
}

#text {
   display: flex;
   justify-content: center;
}

.purple {
   color: #341539;
}

.container {
   width: 85%;
   margin: 0 auto;
}

.lead {
   font-weight: 500;
   display: flex;
   align-items: center;
   margin-bottom: 0.25rem;
}

.sub {
   color: #5c5c5c;
}

.header {
   margin: 5rem 0;
   text-align: center;
}

.card {
   border-radius: 0.5rem;
   padding: 1rem;
   margin: 5rem 0;
   background: #ffffff;
}

.card .heading {
   margin: 1rem 0;
}

.card .track {
   display: flex;
   align-items: center;
   margin-bottom: 1.25rem;
}

.card .track .text {
   margin-left: 1rem;
}

.card .track .text .lead i {
   margin-left: 0.5rem;
}

input:focus {
   outline: none;
   border: 1px solid #341539
}


@media (max-width: 500px) {
   form {
      flex-direction: column;
   }

   #btn {
      margin: 0 0.5rem;
      margin-top: 1.25rem;
   }

   .header {
      margin: 3rem 0;
   }

   .input-group {
      margin: 0.5rem;
   }

   .card {
      margin: 2rem 0;
   }

   h1 {
      font-size: 4rem;
   }

   h2 {
      font-size: 2rem;
   }

   input, select {
      width: 100% !important;
      margin: 0;
      margin-top: 0.25rem;
   }
}